:root {
    --primary_red: #EE1515;
    --background_grey: #E3E3E3;
    --secondary_grey: #222224;
    --tertiary_pink: #FFF9F9;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    background-color: var(--background_grey);
    height: 100%;
}

nav {
    height: 80px;
    background-color: var(--primary_red);
    padding-left: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
}

main {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 20px;
}

.filters input {
    border-radius: 30px;
    border: 1px solid #000000;
    width: 30%;
    height: 40px;
    background-color: var(--tertiary_pink);
    padding: 10px 0px 10px 20px;
}

main #poke_table_container {
    padding: 20px;
}

.poke_table_section {
    width: 50%;
    background-color: var(--tertiary_pink);
    border: 1px solid #000000;
    border-radius: 20px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

#add_pokemon_button {
    width: 100%;
    border: 0;
    border-radius: 0px 0px 20px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    background-color: var(--primary_red);
    color: white;
    font-size: 20px;
}

#add_pokemon_button:hover {
    background-color: var(--background_grey);
}

#name_col {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#name_col img {
    width: 30px;
    height: 30px;
}

footer {
    background-color: var(--secondary_grey);
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
}


/* ----------------------------- Grid for detailed view / pokemon creation ------------- */

.poke_view_section {
    background: var(--tertiary_pink);
    padding: 20px;
    border: 1px solid #000000;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 40%;
    height: 480px;
    text-align: center;
}

.poke_view_section button {
    margin-top: 5px;
    width: 100%;
    background-color: var(--primary_red);
    color: #FFFFFF;
    border: 1px solid #000000;
    font-weight: bold;
    height: 40px;
    bottom: 46px;
}

#stats h3 {
    margin: 0;
}

#stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 80px 160px;
    grid-template-areas: "profile evolution evolution" "type locations abilities" "effective weakness abilities";
    column-gap: 30px;
    text-align: center;
}

.stat_section {
    margin-bottom: 50px;
}

.stat_bubble {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#profile {
    grid-area: profile;
    padding-bottom: 200px;
}

#profile img {
    position: relative;
    top: -40px;
    width: 200px;
    height: 200px;
}

#profile h2 {
    margin-bottom: 0px;
    font-weight: 200;
    font-size: x-large;
}

#evolution {
    grid-area: evolution;
}

#type {
    grid-area: type;
}

#locations {
    grid-area: locations;
}

#abilities {
    grid-area: abilities
}

#effective {
    grid-area: effective
}

#weakness {
    grid-area: weakness
}

.stat_bubble {
    justify-content: space-around;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 100%;
    margin-top: 5px;
}