<!-- Password reset template that the default Django authentication view
    PasswordResetView will use.

    Template context:

    form: The form PasswordResetForm.
-->

{% extends '../main.html' %} {% block content %}
<div class="poke_view_section">
    <h1>Reset Password</h1>
    <form method="POST" action="">
        <p>Input your email here to reset your password</p>
        {% csrf_token %}
        
        {{ form }}
        <br>
        <br>
        <br>
        <button type="submit" class="confirm_button" value="reset">Reset</button> 
    </form>



</div>
<link rel="stylesheet" {% load static %} href="{% static 'style_login.css' %}?{% now "U" %}">


{% endblock %}