{% extends './main.html' %} {% block content %}

<button onclick='location.href="/pokedex/dashboard/{{profile_id}}"' class="back_button">Back</button>

<section class="poke_input_section">

        <h1>Create New Pokemon</h1>

        <form id="new_pokemon_form" action="/pokedex/create_pokemon/{{profile_id}}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input class="big_bottom_button" type="submit" value="Next">
        </form>
        


        {% comment %} <div id="profile">
            <h2>{{pokemon_data.name}}</h2>
            <img src="{{pokemon_data.img}}">
        </div>
        <div id="evolution"></div>
        <div class="stat_section" id="type">
            <h3>Type(s)</h3>
            <div class="stat_bubble">
                <p>
                    {{pokemon_data.type1}}, {{pokemon_data.type2}}
                </p>
            </div>
        </div>
        <div class="stat_section" id="locations">
            <h3>Locations</h3>
            <div class="stat_bubble">
                <textarea>{{pokemon_data.location}}</textarea>
            </div>
        </div>
        <div class="stat_section" n id="effective">
            <h3>Effective Against</h3>
            <div class="stat_bubble">
                <textarea>{{pokemon_data.effective}}</textarea>
            </div>
        </div>
        <div class="stat_section" id="weakness">
            <h3>Weakness Towards</h3>
            <div class="stat_bubble">
                <textarea>{{pokemon_data.weakness}}</textarea>

            </div>
        </div>
        <div class="stat_section" id="abilities">
            <h3>Abilities</h3>
            <div class="stat_bubble">
                <textarea>{{pokemon_data.abilities}}</textarea>
            </div>
        </div> {% endcomment %}
</section>
{% endblock %}