{% extends './main.html' %} {% block content %}

<head>
    <title>Pokeset - Dashboard</title>
</head>

<button onclick='location.href="{% url 'profiles' %}"' class="back_button">Back</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function(){
        $("#nameInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#table_id tr").filter(function() {
                $(this).toggle($(this).find("td:eq(0)").text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script>
    $(document).ready(function(){
        $("#typeInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#table_id tr").filter(function() {
                $(this).toggle($(this).find("td:eq(1)").text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<script>
    $(document).ready(function(){
        $("#locationInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#table_id tr").filter(function() {
                $(this).toggle($(this).find("td:eq(2)").text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<div class="filters">
    <input id ="nameInput" placeholder="Name" type="search"></input>
    <input id ="typeInput" placeholder="Type(s)" type="search"></input>
    <input id ="locationInput" placeholder="Location" type="search"></input>

</div>
<section class="poke_table_section">
    <div id="poke_table_container">

        <table id="table_id" class="display">
            {% comment %}
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 1</th>
                    <th>Column 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Row 1 Data 1</td>
                    <td>Row 1 Data 2</td>
                    <td>Row 1 Data 1</td>
                    <td>Row 1 Data 2</td>
                </tr>
                <tr>
                    <td>Row 2 Data 1</td>
                    <td>Row 2 Data 2</td>
                    <td>Row 2 Data 1</td>
                    <td>Row 2 Data 2</td>
                </tr>
            </tbody> {% endcomment %}
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Location(s)</th>
                    <th>Effective Against</th>
                    <th>Weaknesses</th>
                </tr>
                <thead>
                    <tbody>
                        {% for pokemon in pokemon_data %}
                        <tr onclick="location.href='{% url 'detailed' pokemon.id %}'">
                            <td>   
                                <div id="name_col">
                                    {%if pokemon.img is not None %}
                                    <img src="{{pokemon.img}}">
                                    {% else %}
                                    {% load static %}
                                    <img src="{% static 'canvas.png' %}">
                                    {% endif %}
                                    {{pokemon.name}}</div>
                            </td>
                            <td>{{pokemon.type_one}} {%if pokemon.type_two is not None %}{{pokemon.type_two}}{% endif %}
                            </td>
                            <td>{{pokemon.location|join:" "}}</td>
                            <td>{{pokemon.effective_against|join:" "}}</td>
                            <td>{{pokemon.ineffective_against|join:" "}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
        </table>

        {% comment %}
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css"> {% endcomment %}
        <link rel="stylesheet" {% load static %} href="{% static 'table.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready(function() {
                $('#table_id').DataTable({
                    scrollY: 400,
                    searching: false,
                    "lengthMenu": [5, 10, 20, 50]
                })
            });
        </script>

    </div>
    <button onclick="location.href='{% url 'create_pokemon' profile_id %}'" id="add_pokemon_button">Add Pokemon</button>
</section>
{% endblock %}