{% extends './main.html' %}

{% block content %}

<section class="poke_view_section">
    <div id="profile"></div>
    <div id="evolution"></div>
    <div id="stats">
        <div id="type">
            <h3>Type(s)</h3>
            <p class="stat_bubble"></p>
        </div>
        <div id="locations">
            <h3>Locations</h3>
            <p class="stat_bubble"></p>
        </div>
        <div id="effective">
            <h3>Effective Against</h3>
            <p class="stat_bubble"></p>
        </div>
        <div id="weakness">
            <h3>Weakness Towards</h3>
            <p class="stat_bubble"></p>
        </div>
        <div id="abilities"> 
            <h3>Abilities</h3>
            <p class="stat_bubble"></p>
        </div>
    </div>
    <button>Edit Pokemon</button>
</section>
{% endblock %}