{% extends './main.html' %} {% block content %}

<div class = "login_box">
    <form method = "POST">
        {% csrf_token %}

        <p class = "login_title"> Sign In </p>
        
        <input class = "login_field" type="text" id="username" name="username" placeholder="Username">

        <input class = "login_field" type="password" id="password" name="password" placeholder="Password">


        <button type="submit" class = "confirm_button">Login</button> 
        <br>
        <button type="button" class = "link_button" onclick="location.href='/pokedex/register/'">Create New Account</button>
        
    </form>

</div>


<link rel="stylesheet" {% load static %} href="{% static 'style_login.css' %}">

{% endblock %}