<!-- The "main" template which all other pages should use as a base. -->

{% load poll_extras %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}?{% now "U" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <h1 id="website_title"><a href="{% url 'index' %}">Pokeset</a></h1>
    </nav>

    <main>
        {% block content %} {% endblock %}
    </main>

    <footer>
        {% if user.is_authenticated %}
            <a class="logout" id="logout" href="{% url 'logout' %}">Logout</a>
        {% endif %}
    </footer>

</body>

</html>