{% extends './main.html' %}
{% block content %}
{% comment %} the now "U" thing is to make css refresh, remove later {% endcomment %}
<link rel="stylesheet" {% load static %} href="{% static 'style_login.css' %}?{% now "U" %}">

<form method = "POST">
    {% csrf_token %}
    <button name = "logout" value = "logout" class = "logout_button" >Logout</button>
</form>

<div class = "profiles_box">
        {% for profile in profiles %}
        <div class="profile">
            <button class = "profile_circles" style="background-color:red" onclick="location.href='/pokedex/dashboard/{{profile.name}}'">
            
            </button>
            <h3>{{profile.name}}</h3>
        </div>
        {% endfor %}
        <div class="profile">
            <button class = "profile_circles" onclick="open_add_profile()">
                +
            </button>
            <h3> </h3>
        </div>
    <div class="profile_popup" id="add_profile">
        <div class="profiler_add">
            
            <form action="/pokedex/new_profile" method="POST" class="profile_container">
            <h1>Add Save</h1> 
            {% csrf_token %}

            <input type="text" class = "profile_name_field" placeholder="Save Name" name="save_name" id="save_name" required>
            <br><br>        
            <button type="submit" class="confirm_button"  onclick="location.href='#'">Save</button>
            <br><br>
            <button type="button" class="link_button" onclick="close_add_profile()">Close</button>
            </form>
        </div>
    </div>
</div>

<script>
    function open_add_profile() {
      document.getElementById("add_profile").style.display = "block";
    }
    
    function close_add_profile() {
      document.getElementById("add_profile").style.display = "none";
    }
</script>

{% endblock %}
