<!-- Account creation.
    
    Template context:
    form: A form of type NewUserForm.
-->

{% extends './main.html' %}
{% block content %}

<head>
    <title>Pokeset - Register</title>
</head>

<div class="login_box">
    <p class="new_account_title">New Account</p>
    <form method = "POST">
        
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
            {{ field.errors }}
        {% endfor %}

        <br>
        <button type="button" class="link_back_button" onclick="location.href='{% url 'login' %}'">⬅</button> 
        <button type="submit" class="confirm_button">Create New Account</button> 
    </form>
</div>

<link rel="stylesheet" {% load static %} href="{% static 'style_login.css' %}">
{% endblock %}